.DS_Store
.idea/
	
*.class
*.log

# sbt specific
.cache/
.history/
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
*.iml

conf/application.conf

# build artifacts
rest_api/lib/vamp-ui*

# run artifacts
bootstrap/src/main/resources/application.conf
bootstrap/src/main/resources/logback.xml
vamp-core-db.h2.db
vamp-core-db.trace.db

